<style>
  .f {
    text-align: center;
  }
  
  ion-button{
    padding-top: 40px;
  }
  ion-icon {
  font-size: 250px;
  color: blueviolet;
  margin-top: 100px;
  margin-left: 800px;
  margin-bottom: 100px;
  
}
ion-button{
  color:  gainsboro;
  border-radius:10px;
}
.r{
    margin-left: 800px;
    
  }
  ion-icon{
    font-size: 60px;
    margin-top: 50px;
  }
  
  

  </style>
<ion-card color="primary">
  <ion-card-header>
    <ion-card-title class="f"><h1>Delivrery</h1></ion-card-title>
  </ion-card-header>
  <ion-card-content class="f">
    keeping touch with your stuff
  </ion-card-content>
</ion-card>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<ion-content>
  <ion-button class="b"  expand="full">preparation de commande</ion-button>
  <ion-button class="b"  expand="full">commande dans la rue</ion-button>
  <ion-button  expand="full">commande livré</ion-button>
  
  <ion-icon name="bag-add"></ion-icon>
  </ion-content>