<style>
  .f {
    text-align: center;
  }
  ion-segment {
    margin-top: 100px;
  }
  ion-input {
    text-align: center;
  }
</style>

<ion-card color="primary">
  <ion-card-header>
    <ion-card-title class="f"><h1>Delivrery</h1></ion-card-title>
  </ion-card-header>
  <ion-card-content class="f">
    keeping touch with your stuff
  </ion-card-content>
</ion-card>

<ion-content class="i">
  <ion-segment>
    <ion-segment-button routerLink="/sing-up" value="Sing-up" content-id="Sing-up">
      Sing up
    </ion-segment-button>
    <ion-segment-button  content-id="login">
      <ion-label>log in</ion-label>
    </ion-segment-button>
  </ion-segment>
  <br>
  <ion-input [(ngModel)]="email" class="t" label="username or gmail" label-placement="floating" fill="outline" placeholder="Enter username or Email"></ion-input><br>
  <ion-input [(ngModel)]="password" type="password" class="t" label="password" label-placement="floating" fill="outline" placeholder="Enter password"></ion-input>
</ion-content>

<footer>
  <ion-button expand="block" (click)="login()">login</ion-button>
</footer>