<style>
  .f {
    text-align: center;
  }
  
  ion-button{
    padding-top: 40px;
  }
  ion-icon {
  font-size: 250px;
  color: blueviolet;
  margin-top: 100px;
  margin-left: 800px;
  margin-bottom: 100px;
  
}
ion-button{
  color:  gainsboro;
  border-radius:10px;
}
.r{
    margin-left: 800px;
    
  }
  

  </style>
<ion-card color="primary">
  <ion-card-header>
    <ion-card-title class="f"><h1>Delivrery</h1></ion-card-title>
  </ion-card-header>
  <ion-card-content class="f">
    keeping touch with your stuff
  </ion-card-content>
</ion-card>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<ion-content>
  
  <ion-icon name="person-circle-outline"></ion-icon>
  <ion-input    fill="outline" placeholder="username "></ion-input><br>
  <ion-input    fill="outline" placeholder="phone number "></ion-input><br>
  <ion-input    fill="outline" placeholder="CIN "></ion-input><br>
  <ion-input    fill="outline" placeholder="current city "></ion-input><br>
  <ion-button class="r" size="default" shape="round">Save</ion-button>

